* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("pb.jpeg");
  background-size: cover;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
  width: 90%;
  margin-left: 5vw;
  margin-top: 2vh;
  border-radius: 5rem;
}

#main-heading {
  color: white;
  font-size: 5vw;
  width: 90%;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
}

#images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#images img {
  max-width: 100%;
}
#img1 {
  height: 3rem;
  border-radius: 2rem;
  background-color: white;
  border: 2px solid white;
  &:hover {
    box-shadow: 0 0 5px 5px white;
  }
}
#img2 {
  height: 3.3rem;
  border-radius: 5rem;
  border: 0.5px solid white;
  background-color: white;
  &:hover {
    box-shadow: 0 0 5px 5px white;
  }
}
.categories {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  gap: 2vw;
}
.category1 {
  display: inline-block;
  width: 30vw;
  font-size: 2rem;
  color: white;
  backdrop-filter: blur(20px);
  height: 50vh;
  border-radius: 1rem;
}
.category2 {
  display: inline-block;
  width: 30vw;
  font-size: 2rem;
  color: white;
  backdrop-filter: blur(20px);
  height: 50vh;
  border-radius: 1rem;
}
.weight,
.height {
  text-align: center;
  margin-top: 7vh;
}
.weight input,
.height input {
  border: none;
  padding: 0.5rem;
  width: 20vw;
  margin-top: 3vh;
  border-radius: 1rem;
  font-size: 1rem;
  cursor: pointer;
}
.result,
.represent {
  text-align: center;
  margin-top: 7vh;
}
#bmi,
#abc {
  margin-top: 2vh;
}
.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}
.submit button {
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  border: none;
  background-color: orange;
  color: white;
  font-family: "Orbitron", sans-serif;
  font-weight: 500;

  &:hover {
    background-color: rgb(37, 92, 180);
    box-shadow: 0 0 3px 3px white;
    cursor: pointer;
  }
}
@media (max-width: 400px) {
  body {
    background-image: url(pb2.jpg);
  }
  .heading {
    margin-top: 1vh;
    height: 5vh;
  }
  #img1 {
    height: 2.7vh;
    width: 6vw;
  }
  #img2 {
    height: 3vh;
    width: 7vw;
  }
  .categories {
    display: inline-block;
    margin-top: 2vh;
  }
  .category1 {
    width: 80vw;
    height: 30vh;
    margin-left: 10vw;
  }
  .category2 {
    width: 80vw;
    height: 30vh;
    margin-left: 10vw;
    margin-top: 3vh;
    display: none;
  }
  .height,
  .weight {
    font-size: 1.2rem;
    margin-top: 2vh;
  }
  .height input,
  .weight input {
    width: 50vw;
    padding: 0.2rem;
    font-size: 0.8rem;
  }
  .represent,
  .result {
    margin-top: 4vh;
    font-size: 1.2rem;
  }
  .submit button {
    padding: 0.3rem;
    font-size: 1rem;
    margin-bottom: 20vh;
  }
}
