* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("BMI.webp");
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  box-shadow: 0 3px 3px 5px rgb(128, 128, 128, 0.5);
}

#main-heading {
  background-color: white;
  font-size: 5vw;
  width: 90%;
  text-align: center;
}

#images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#images img {
  max-width: 100%;
}
#img1 {
  height: 3rem;
}
#img2 {
  height: 3.3rem;
}

.weight {
  margin: 2rem;
  display: flex;
  gap: 80px;
  font-size: 40px;
}

.height {
  margin: 2rem;
  display: flex;
  gap: 35px;
  font-size: 40px;
}
.result {
  margin: 2rem;
  display: flex;
  gap: 68px;
  font-size: 40px;
}
.submit {
  margin: 6rem;
  display: flex;
  gap: 10rem;
  font-size: 50px;
  margin-right: 50%;
}
button {
  font-size: 30px;
  border: 1px solid grey;
  border-radius: 1rem;
  width: 120px;
  margin-left: 74%;
}
#innerText1 {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
}
#innerText2 {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
}
#bmi {
  font-size: 20px;
  width: 250px;
  height: 50px;
  color: gray;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

#abc {
  font-size: 20px;
  width: 250px;
  height: 50px;
  color: red;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.represent {
  margin: 5rem;
  display: flex;
  gap: 280px;
  font-size: 40px;
}
